a {
    color: rgb(0, 247, 255);
}
a:visited {
    color: gold;
}
a img {
    width: 40px;
    margin-right: 10px;
}
li {
    list-style-type: none;
    margin: 10px;
}
body {
    background-color: black;
    color: white;
    font-size: 1.25rem;
}
footer {
    margin-top: 20px;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
    margin-bottom: 0;
}
nav {
    display: flex;
    justify-content: space-evenly;
}
nav .navigation-item {
    display: inline-flex;
    list-style-type: none;
    font-size: 1.25rem;
    padding: 0 20px;
    
}
p {
    margin: 0 10%;
}
